.about_container{
    margin: 3rem 1rem;
    .aH1{
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 40px;
        line-height: 141.6%;
        margin-top: 15px;

        margin-bottom: 0px;
        color: #25282A;        

    }
    .about{
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 22px;
        line-height: 141.6%;
        margin-top: 75px;

        margin-bottom: 0px;
        color: #56798b;        

    }
    .l1{
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 17px;
        line-height: 141.6%;
        margin-top: 50px;

        margin-bottom: 0px;
        color: #56798b;        

    }
    .l2{
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 17px;
        line-height: 141.6%;
        margin-top: 15px;

        margin-bottom: 0px;
        color: #56798b;        

    }
    .l3{
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 17px;
        line-height: 141.6%;
        margin-top: 15px;

        margin-bottom: 0px;
        color: #56798b;        

    }
    .l4
    {
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 17px;
        line-height: 141.6%;
        margin-top: 15px;

        margin-bottom: 0px;
        color: #56798b;        

    }
    .l5{
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 17px;
        line-height: 141.6%;
        margin-top: 15px;

        margin-bottom: 0px;
        color: #56798b;        

    }
    .l6
    {
        text-align: center;
        font-family: 'Barlow';
        font-style: bold;
        font-weight: 700;
        font-size: 17px;
        line-height: 141.6%;
        margin-top: 15px;

        margin-bottom: 0px;
        color: #56798b;        

    }
}